@import 'reset-css/reset.css';
@import './variables/**/*.css';
@import '../blocks/**/*.css';
@import '../components/**/*.css';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
