.login {
  color: #b8b8b8;
  overflow: visible;
  text-transform: uppercase;
  height: 33px;
  width: 100%;

  &__button-row {
    display: flex;
    margin-left: -1.25rem;
    margin-right: -1.25rem;

    & > .button {
      flex: 1;
      line-height: 29px;
      font-weight: normal;
      font-size: 1.25rem;
      padding: 1.25rem 2rem;
    }
  }

  &__cta {
    position: relative;
    width: 100%;
    z-index: 3;
  }

  &__email,
  &__password,
  &__input {
    text-align: left;

    label {
      transition: transform .2s;
      position: absolute;
      left: 1rem;
    }

    input {
      border: none;
      border-bottom: 1px solid #d2d2d2;
      color: black;
      font-size: 1rem;
      padding: .25rem .25rem .5rem;
      width: 100%;

      &:focus + label,
      &:not([value=""]) + label {
        font-size: .875rem;
        transform: translateY(-1.5rem);
      }
    }
  }

  &__panel {
    background-color: var(--color-white);
    padding: 2.5rem 1rem 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 2;
    transform: translateY(-102%);
    transition: transform .2s;

    &.is-visible {
      transform: translateY(0);
    }
  }
}
